

.container {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .message{
        font-size: 38px;
        font-weight: 800;
        letter-spacing: 5px;
        color: #272727;
        text-align: center;
       font-family: "Poppins", sans-serif;
       padding-top: 20px;
    }
    
}

.card-container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px repeat(2, 50px) 1fr;
    grid-gap: 10px;

    align-self: stretch;
    background: rgba( 255, 255, 255, 0.10 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    max-width: 600px;
    padding: 3%;
    margin:  3%; 
    z-index: 1;

    a{
        text-decoration: none;
        color: #7550A6;
        transition: all ease-in 0.5s;
        cursor: pointer;

        &:hover{
            color: whitesmoke;
        }

    }
    
    h2{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 18px;
        grid-column: 2 ;
        grid-row: 1;
        color: #7550A6;
    }
    span {
        margin-top: 30px;
    }

    span, p{
        grid-column: 2 ;
        grid-row: 2;
        
        
    }
    p {
        grid-column: 2 ;
        grid-row: 3;
    }


    .logo-wrapper {
        position: relative;
        background-color: whitesmoke;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid peachpuff;
        grid-column: 1;
        grid-row: 1 / span 2;
        
        img {
            width: 150px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }

    div{
        background: rgba( 255, 255, 255, 0.10 );
        backdrop-filter: blur( 7.5px );
        border-radius: 10px;
        padding: 5%;
        color: #272727;
        grid-column: 1 / span 2;

        ul {
            list-style: circle;
            padding-left: 20px;
        }

        p {
            padding: 10px 0;
            line-height: 17px;
        }
    }
    }
    
