.detail_page-container{

    padding: 150px 0;

    @media(min-width: 500px){
        padding: 10% 0;   
    }
    

    h1 {
        position: absolute;
        top: 0px;
        left:0;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 2px;
        color: rgb(243, 222, 222);
        padding: 25px;
    }

    .icon-github-2{
        font-size: 30px;
        color: #272727;
        position: absolute;
        top: 30px;
        left:238px;
    }

    a {
        text-decoration: none;
        margin-left: 20px;
        letter-spacing: 2px;
        color: #7550A6;
        transition: all ease-in 0.5s;
        cursor: pointer;
        z-index: 2;

        &:hover{
            color: whitesmoke;
        }
    }

    .job-detail{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 230px 150px 20px 20px 1fr;
        grid-gap: 10px;
        background: rgba( 255, 255, 255, 0.10 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 7.5px );
        border-radius: 10px;
        max-width: 320px;
        padding: 3%;
        margin: 20px auto; 

        @media(min-width: 500px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30px 350px 20px 20px 1fr;
        max-width: 700px;
        margin:  5% auto;
        }

        @media(min-width: 800px){
            max-width: 900px;  
        }

        h2{
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 16px;
            color: #7550A6;
            margin-top: 20px;
            grid-column: 1;
            grid-row: 3;
            place-self: center;
            max-width: 280px;
        

            @media(min-width: 500px){
                grid-column: 1; 
                grid-row: 2;  
                font-size: 28px;
                max-width: 480px;
                
                
            }

            @media(min-width: 800px){
                font-size: 38px;
            }
        }

        h3{
            grid-column: 1;
            grid-row: 4;
            font-size: 22px;
            color: #272727;

            @media(min-width: 500px){
            grid-column: 1; 
            grid-row: 3;
            }
            
        }
        .website-link{
            grid-column: 1;
            grid-row: 5;
            font-size: 12px;

            @media(min-width: 500px){
                grid-column: 1;
                grid-row: 4;  
            }
        }

        .logo-wrapper {
            position: relative;
            background-color: white;
            width: 220px;
            height: 220px;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid peachpuff;
            grid-column: 1;
            grid-row: 2;
            place-self: center;
            

            @media(min-width: 500px){
                grid-column: 2;
                grid-row: 2;  
                width: 250px;
                height: 250px;
            }

            @media(min-width: 800px){
                width: 300px;
                height: 300px;
            }

            
            img {
                width: 250px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

            @media(min-width: 800px){
                width: 300px;
                
            }
    
            }
        }

        .description {
            grid-column: 1;
            grid-row: 6;
            background: rgba( 255, 255, 255, 0.10 );
            backdrop-filter: blur( 7.5px );
            border-radius: 10px;
            padding: 5%;
            margin-top: 20px;
            color: #272727;
            max-width: 300px;

            @media(min-width: 500px){
                grid-column: 1 / span 2;
                grid-row: 5; 
                max-width: 800px;  
                
            }


            ul {
                list-style: circle;
                padding-left: 20px;
                font-size: 12px;

                @media(min-width: 500px){
                    font-size: 14px;
                }
            }
    
            p {
                padding: 10px 0;
                line-height: 17px;
                font-size: 12px;

                @media(min-width: 500px){
                    font-size: 14px;
                }
            } 

            a{
                font-size: 11px;
            }
        }

        .apply {
            grid-column: 1 ;
            grid-row: 7;
            background: rgba( 255, 255, 255, 0.10 );
            backdrop-filter: blur( 7.5px );
            border-radius: 10px;
            padding: 5%;  
            font-size: 12px;
            max-width: 300px;
            overflow: hidden;

            @media(min-width: 500px){
                grid-column: 1 / span 2;
                grid-row: 6; 
                font-size: 14px;
                max-width: 800px;
            }

        }

        .posted{
            grid-row: 8 ;
            margin-top: 10px;
            font-style: italic;
            font-size: 12px;

            @media(min-width: 500px){
                grid-row: 7;
                font-size: 12px;
            }
        }

    }
}