*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    background: radial-gradient(at 70% center, #F9B9BD, #c0a6f1);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

.title {
    position: absolute;
    top: 0px;
    left:0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(243, 222, 222);
    padding: 25px;
}

.icon-github-2{
    font-size: 30px;
    color: #272727;
    position: absolute;
    top: 30px;
    left:238px;
}