header {

background-image: url("../images/svg.png");
background-size: cover;
background-repeat: no-repeat;
height: 500px;
min-width: 100%;
background-color: #7550A6;
box-shadow: 0 1px 15px 0 rgba( 31, 38, 135, 0.37 );
z-index: 10;
margin-top: -100px;

    &:after{
        content: "GITHUB JOBS";
        font-size: 58px;
        font-weight: 800;
        letter-spacing: 5px;
        width: 100%;
        height: auto;
        color: #f9b9bdc0;
        text-align: center;
        font-family: "Poppins", sans-serif;
        z-index: -1;
        position: absolute;
        bottom:0;

        @media(min-width: 500px){
            font-size: 98px; 
            bottom:60px;
        }
      
    }

    .input-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        background-color: whitesmoke;
        border: 3px solid peachpuff;
        border-radius: 20px;
        box-shadow: 0 1px 15px 0 rgba( 31, 38, 135, 0.37 );

        @media(min-width: 400px){
            top: 28%;
        }

        input {
            min-width: 230px;
            width: 200px;
            border-radius: 20px;
            background-color: whitesmoke;
            padding: 10px 20px;
            border: none;
            flex: 1;
            font-family: "Poppins", sans-serif;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: purple;

            &:focus{
                outline: none;
            }

            @media(min-width: 500px){
                min-width: 300px;  
            }
            
        }

        button {
            border: none;
            border-radius: 20px;
            width: 55px;
            background-color: #272727;
            color: whitesmoke;
            font-size: 20px;
            cursor: pointer;

            &:focus{
                outline: none;
            }
        }

        &:before {
            content: "Find your dream job";
            font-size: 20px;
            color: rgb(243, 222, 222);
            width: 100%;
            height: auto;
            position: absolute;
            top:-40px;
            left: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;

            @media(min-width: 500px){
            left: 65px;
            }

        }

    }

}

